*{
    margin: 0px;
    padding: 0px;
    color: #693407;
    line-height: 1.5em;
}
html, body{
    font-family: "Meiryo", "Hiragino Kaku Gothic ProN", "Meiryo UI", sans-serif;
    font-size: 18px;
    background-color:#ffb2df;
}

a	{
    /* css�U�� */
}
a:link {
     color: #fff;
}
a:visited {
    color: #fff;
}
a:hover {
    color: #fff080;
}
a:active {
    color: #fff;
}
img {
    max-width: 100%;
    height: atuo;
}
#img-lang {
    margin: 0px 5px;
}
/* �w�b�_�[ */
.flex {
    /* css�U�� */
}
#top_logo {
    display:flex;
    position: absolute;
    padding: 9px 5px;
    left: 0;
}
/* ���ꃁ�j���[ */
#top_right_lang{
    /* css�U�� */
}
#top_right_menu{
    display:flex;
    padding: 0px 30px;
    position: absolute;
    right: -20px;
    top: 0px;
}
/* �ǎ� */
#wall {
    display:block;
    background-image:url(../img/wall.png);
    z-index: 0;
    position: relative;
    min-width: 769px;
}
/* �j���[�X�p�ǎ� */
.wall_news {
    display:block;
    background-image:url(../img/wall.png);
    z-index: 0;
    position: relative;
    min-height: 100vh;
}
/* �j���[�X���e�p���C�A�E�g */
.news_Container {
    /* css�U�� */
}
.news_Container .n_text {
    /* css�U�� */
}
/* 10th mark */
#mark {
    display:flex;
    position: absolute;
    left: 15px;
    top: 10px;
    z-index: 100;
}
/* �r���摜 */
#hr {
    display:block;
    text-align: center;
    margin: 60px 10px 60px 10px;
}
/* �j���[�X�䎆1 */
.newsDaishi {
    /* css�U�� */
}
/* �j���[�X�䎆2 */
.newsDaishi2 {
    /* css�U�� */
}
/* �j���[�X�䎆3 */
.newsDaishi3 {
    /* css�U�� */
}
#newsI {
    /* css�U�� */
}
/* �j���[�X���X�g */
.list-item{
    display: inline-block;
    opacity: 1;
}
/* �j���[�X���X�g��\�� */
.list-item.is-hidden {
    display:none;
    opacity: 0;
    width: 0px;
    height: 0px;
}
/* �j���[�X���X�g�{�^�� */
.list-btn {
    z-index: 200;
    height: 45px;
    width: 190px;
    margin: 30px 0px 0px 0px;
}
.list-btn.is-btn-hidden{
    display:none;
}
.list-btn button {
    background-image:url(../img/bottom_more_en.png);
    border: none;
    cursor: pointer;
    padding: 0;
    height: 45px;
    width: 190px;
}

/* �˂��Љ�R���e�i */
.catContainer {
    display: inline-block;
    margin: 15px 0px;
}
/* �˂��Љ�摜 */
#cat01 {
    display: inline-block;
    background-image:url(../img/cat_01_en.png);
    width: 300px;
    height: 250px;
    z-index: 200;
}
#cat02 {
    display: inline-block;
    background-image:url(../img/cat_02_en.png);
    width: 300px;
    height: 250px;
    z-index: 200;
}
#cat03 {
    display: inline-block;
    background-image:url(../img/cat_03_en.png);
    width: 300px;
    height: 250px;
    z-index: 200;
}
#cat04 {
    display: inline-block;
    background-image:url(../img/cat_04_en.png);
    width: 300px;
    height: 250px;
    z-index: 200;
}
#cat05 {
    display: inline-block;
    background-image:url(../img/cat_05_en.png);
    width: 300px;
    height: 250px;
    z-index: 200;
}
#cat06 {
    display: inline-block;
    background-image:url(../img/cat_06_en.png);
    width: 300px;
    height: 250px;
    z-index: 200;
}
/* ���߃V���[�Y�R���e�i */
.seriesContainer {
    display: inline-block;
    margin: 15px 30px 15px 30px;
}
/* �X�}�z�Ō����T�C�g */
#sp_neko {
    display: inline-block;
    background-image:url(../img/banner_sp_neko_en.png);
    width: 400px;
    height: 184px;
    z-index: 200;
    margin: 5px 20px 5px 20px;
}
/* �˂����߂Q�����T�C�g */
#sp_neko2 {
    display: inline-block;
    background-image:url(../img/banner_sp_neko2_en.png);
    width: 400px;
    height: 184px;
    z-index: 200;
    margin: 5px 20px 5px 20px;
}
/* Meta�Ō����T�C�g */
#meta_neko {
    display: inline-block;
    background-image:url(../img/banner_meta_nekoen.png);
    width: 400px;
    height: 184px;
    z-index: 200;
    margin: 5px 20px 5px 20px;
}
/* Apple Arcade�Ń����N */
#plus_neko {
    display: inline-block;
    background-image:url(../img/applearcadeen.png);
    width: 400px;
    height: 184px;
    z-index: 200;
    margin: 5px 20px 5px 20px;
}
/* �����O�b�Y�R���e�i */
.goodsContainer {
    display: inline-block;
    margin: 15px 30px 15px 30px;
}
/* ���߃��{�o�i�[ */
#goods_atsumeLab {
    display: inline-block;
    background-image:url(../img/banner_atsumelab.png);
    width: 400px;
    height: 184px;
    z-index: 200;
    margin: 5px 20px 5px 20px;
}
/* amazon�o�i�[ */
#goods_amazon {
    display: inline-block;
    background-image:url(../img/banner_amazon.png);
    width: 400px;
    height: 184px;
    z-index: 200;
    margin: 5px 20px 5px 20px;
}
/* SNS�R���e�i */
.snsContainer {
    display: inline-block;
    margin: 15px 30px 15px 30px;
}
/* YouTube�o�i�[ */
#sns_youtube {
    display: inline-block;
    background-image:url(../img/banner_youtube.png);
    width: 400px;
    height: 184px;
    z-index: 200;
    margin: 5px 20px 5px 20px;
}
/* SNS���R���e�i */
.snsContainer2 {
    display: inline-block;
    width: 400px;
    height: 184px;
    margin: 5px 40px 5px 0px;
}
/* ����X�o�i�[ */
#sns_x {
    background-image:url(../img/sns_x.png);
    width: 400px;
    height: 61px;
    z-index: 200;
}
/* ����Instagram�o�i�[ */
#sns_instagram {
    background-image:url(../img/sns_insta.png);
    width: 400px;
    height: 61px;
    z-index: 200;
}

/* ����facebook�o�i�[ */
#sns_facebook {
    background-image:url(../img/sns_facebook.png);
    width: 400px;
    height: 61px;
    z-index: 200;
}
/* �t�b�^�[ */
#footer_logo {
    z-index: 200;
    margin: 100px 0px 100px 0px;
}
/* �t�b�^�[special */
#footer_logo2 {
    z-index: 200;
    margin: 50px 0px 50px 0px;
}
/* �t�b�_�[�p�ǎ� */
#wall2 {
    display:block;
    background-color: #a57d4b;
    z-index: 0;
    position: relative;
    min-width: 769px;
    height: 220px;
}
/* �t�b�_�[�p�R���e�i */
.footerContainer {
}
/* �t�b�_�[�p�R���e�i */
.footerContainer2 {
    display: inline-block;
}
/* �q�b�g�|�C���g���S */
#HPlogo {
    display: inline-block;
    margin: 10px 15px 0px 15px;
    vertical-align: middle;
}
/* ���߃��{���S */
#LABlogo {
    display: inline-block;
    margin: 0px 15px 0px 15px;
    padding: 0px 40px 0px 100px;
    vertical-align: middle;
}
/* �R�s�[���C�g�\�L */
#Copyright {
    display: inline-block;
    vertical-align: sub;
}
/* �R�s�[���C�g�p�t�H���g */
.copy {
    /* �U�� */
}
/* �t�b�^�[�p�t�H���g */
.text_deco {
    display: inline-block;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    margin: 5px 7px 10px 7px;
}
/* �r���f�U�C���j�� */
hr {
    border: none;
    border-top: 2px dashed;
    margin: 0px 0px 5px 0px;
}
/* �t�b�_�[�p�r���f�U�C�� */
#hr2 {
    border: none;
    border-top: 3px solid;
    margin: 0px 0px 5px 0px;
}
/* �W���t�H���g */
p{
    /* �U�� */
}
/* �����p�t�H���g */
p1{
    /* �U�� */
}
p2{
}
#page_top{
    position: fixed;
    right: 30px;
    bottom: 10px;
    opacity: 1;
    z-index: 30000;
}
/* �p�\�R���Ō����Ƃ���"pc"��class�������摜���\������� */
.pc { display: block !important; }
.sp { display: none !important; }
 
/* �X�}�[�g�t�H���Ō����Ƃ���"sp"��class�������摜���\������� */
@media only screen and (max-width: 768px) {
    .pc { display: none !important; }
    .sp { display: block !important; }
}
ul {
    list-style: none;
}
.menu-checkbox {
    display: none;
    top: 0px;
    right: 0px;
}
.drawer-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out 0s;
    background-color: #a57d4b;
    z-index: 20;
    opacity: 0.95;
}
.drawer-menu-list {
    margin-top: 70px;
}
.drawer-menu-item-link {
    /* �U�� */
}
.sublist {
    display: block;
    text-align: left;
    color: #693407;
    margin-left: 20px;
}
.menu-checkbox:checked ~ .drawer-menu {
    transform: translateX(0);
}

.drawer-icon {
    cursor: pointer;
    display: block;
    position: fixed;
    top: 3px;
    right: 5px;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    z-index: 30;
    background-image:url(../img/menu.png);
}
.drawer-icon span,
.drawer-icon span:before,
.drawer-icon span:after {
    content: '';
    position: fixed;
    display: block;
    top: 33px;
    right: 25px;
    height: 3px;
    width: 20px;
    border-radius: 3px;
    background-color: #fff;
    transition: all 0.2s ease-in-out 0s;
}
.drawer-icon span::before {
    top: 40px;
}
.drawer-icon span::after {
    top: 26px;
}
.menu-checkbox:checked ~ .drawer-icon {
}
.menu-checkbox:checked ~ .drawer-icon span {
    background-color: rgba(255, 255, 255, 0);
}
.menu-checkbox:checked ~ .drawer-icon span::before {
    top: 33px;
    transform: rotate(45deg);
    background-color: #fff;
}
.menu-checkbox:checked ~ .drawer-icon span::after {
    top: 33px;
    transform: rotate(-45deg);
    background-color: #fff;
}

.menu-background {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
}
.menu-checkbox:checked ~ .menu-background {
    display: block;
    opacity: 0;
}
.Nikukyu {
    display: inline-block;
    background-image:url(../img/Nikukyu2.png);
    width: 20px;
    height: 20px;
    z-index: 100;
    margin: 0px 5px 0px 0px;
}

.container {
	position: relative;
	width: 100%;
	background: #06061a;
	overflow: hidden;
	/* for text	 */
	display: flex;
	justify-content: center;
	align-items: center;
}

.container img {
	width: 100%;
}

.confetti {
	position: absolute;
	width: 100%;
	height: 100%;
}
/* size */
.confetti span {
	position: absolute;
	top: -10%;
	left: 0;
	width: 1.1vw;
	height: 0.8vw;
	background: #FFF;
}

/* add animation */
.confetti span:nth-child(2n+1) {
	animation: confetti-anim-1 10s 0s linear;
	animation-iteration-count:1s;
}

.confetti span:nth-child(2n+2) {
	animation: confetti-anim-2 10s 0s linear;
	animation-iteration-count:1s;
}

/* side position */
.confetti span:nth-child(1) {
	left: 0%;
}

.confetti span:nth-child(2) {
	left: 2%;
}

.confetti span:nth-child(3) {
	left: 4%;
}

.confetti span:nth-child(4) {
	left: 6%;
}

.confetti span:nth-child(5) {
	left: 8%;
}

.confetti span:nth-child(6) {
	left: 10%;
}

.confetti span:nth-child(7) {
	left: 12%;
}

.confetti span:nth-child(8) {
	left: 14%;
}

.confetti span:nth-child(9) {
	left: 16%;
}

.confetti span:nth-child(10) {
	left: 18%;
}

.confetti span:nth-child(11) {
	left: 20%;
}

.confetti span:nth-child(12) {
	left: 22%;
}

.confetti span:nth-child(13) {
	left: 24%;
}

.confetti span:nth-child(14) {
	left: 26%;
}

.confetti span:nth-child(15) {
	left: 28%;
}

.confetti span:nth-child(16) {
	left: 30%;
}

.confetti span:nth-child(17) {
	left: 32%;
}

.confetti span:nth-child(18) {
	left: 34%;
}

.confetti span:nth-child(19) {
	left: 36%;
}

.confetti span:nth-child(20) {
	left: 38%;
}

.confetti span:nth-child(21) {
	left: 40%;
}

.confetti span:nth-child(22) {
	left: 42%;
}

.confetti span:nth-child(23) {
	left: 44%;
}

.confetti span:nth-child(24) {
	left: 46%;
}

.confetti span:nth-child(25) {
	left: 48%;
}

.confetti span:nth-child(26) {
	left: 50%;
}

.confetti span:nth-child(27) {
	left: 52%;
}

.confetti span:nth-child(28) {
	left: 54%;
}

.confetti span:nth-child(29) {
	left: 56%;
}

.confetti span:nth-child(30) {
	left: 58%;
}

.confetti span:nth-child(31) {
	left: 60%;
}

.confetti span:nth-child(32) {
	left: 62%;
}

.confetti span:nth-child(33) {
	left: 64%;
}

.confetti span:nth-child(34) {
	left: 66%;
}

.confetti span:nth-child(35) {
	left: 68%;
}

.confetti span:nth-child(36) {
	left: 70%;
}

.confetti span:nth-child(37) {
	left: 72%;
}

.confetti span:nth-child(38) {
	left: 74%;
}

.confetti span:nth-child(39) {
	left: 76%;
}

.confetti span:nth-child(40) {
	left: 78%;
}

.confetti span:nth-child(41) {
	left: 80%;
}

.confetti span:nth-child(42) {
	left: 82%;
}

.confetti span:nth-child(43) {
	left: 84%;
}

.confetti span:nth-child(44) {
	left: 86%;
}

.confetti span:nth-child(45) {
	left: 88%;
}

.confetti span:nth-child(46) {
	left: 90%;
}

.confetti span:nth-child(47) {
	left: 92%;
}

.confetti span:nth-child(48) {
	left: 94%;
}

.confetti span:nth-child(49) {
	left: 96%;
}

.confetti span:nth-child(50) {
	left: 98%;
}

/* colors */
.confetti span:nth-child(5n+1) {
	background: #e887af;
}

.confetti span:nth-child(5n+2) {
	background: #669cd3;
}

.confetti span:nth-child(5n+3) {
	background: #fbe553;
}

.confetti span:nth-child(5n+4) {
	background: #e887af;
}

.confetti span:nth-child(5n+5) {
	background: #fbe553;
}


/* animation-duration */
.confetti span:nth-child(4n+1) {
	animation-duration: 3s;
}

.confetti span:nth-child(4n+2) {
	animation-duration: 8s;
}

.confetti span:nth-child(4n+3) {
	animation-duration: 4s;
}

.confetti span:nth-child(4n+4) {
	animation-duration: 7s;
}


/* animation-delay */
.confetti span:nth-child(11n+1) {
	animation-delay: 0s;
}

.confetti span:nth-child(11n+2) {
	animation-delay: 7s;
}

.confetti span:nth-child(11n+3) {
	animation-delay: 4s;
}

.confetti span:nth-child(11n+4) {
	animation-delay: 3s;
}

.confetti span:nth-child(11n+5) {
	animation-delay: 4s;
}

.confetti span:nth-child(11n+6) {
	animation-delay: 5s;
}

.confetti span:nth-child(11n+7) {
	animation-delay: 1s;
}

.confetti span:nth-child(11n+8) {
	animation-delay: 2s;
}

.confetti span:nth-child(11n+9) {
	animation-delay: 2s;
}

.confetti span:nth-child(11n+10) {
	animation-delay: 9s;
}

.confetti span:nth-child(11n+11) {
	animation-delay: 8s;
}

/* animation */
@keyframes confetti-anim-1 {
	0% {
		top: -10%;
		transform: translateX(0) rotateX(0) rotateY(0);
	}

	100% {
		top: 100%;
		transform: translateX(20vw) rotateX(180deg) rotateY(360deg);
	}
}

@keyframes confetti-anim-2 {
	0% {
		top: -10%;
		transform: translateX(0) rotateX(0) rotateY(0);
	}

	100% {
		top: 100%;
		transform: translateX(-20vw) rotateX(180deg) rotateY(360deg);
	}
}
a.btn_back {
    display: block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    width: 120px;
    margin: auto;
    padding: 1rem 4rem;
    font-weight: bold;
    border: 2px solid #a57d4b;
    color: #a57d4b;
    border-radius: 100vh;
    transition: 0.5s;
}
a.btn_back:hover {
    color: #fff;
    background: #a57d4b;
}
.table_design	{
    width:90%;
}
#th_design	{
    background:#eee8aa;
    border: 1px #a57d4b solid;
    text-align:left;
    width:30%;
    padding:7px 0px 7px 10px;
}
#td_design	{
    border: 1px #a57d4b solid;
    padding:7px 0px 7px 10px;
}