a	{
    font-size: 12px;
    text-color:#ffc7e0;
    text-decoration: none;
}

/* �w�b�_�[ */
.flex {
    display:flex;
    margin: 0px 0px 65px 0px;
    position: relative;
}
/* ���ꃁ�j���[ */
#top_right_lang{
    display:flex;
    position: absolute;
    right: 75px;
    top: 18px;
}
/* �j���[�X�䎆1 */
.newsDaishi {
    display: inline-block;
    background-image:url(../img/newsboard.png);
    width: 400px;
    height: 285px;
    z-index: 100;
    margin: 15px 30px 15px 30px;
}
/* �j���[�X�䎆2 */
.newsDaishi2 {
    display: inline-block;
    background-image:url(../img/newsboard_B.png);
    width: 400px;
    height: 285px;
    z-index: 100;
    margin: 15px 30px 15px 30px;
}
/* �j���[�X�䎆3 */
.newsDaishi3 {
    display: inline-block;
    background-image:url(../img/newsboard_White.png);
    width: 400px;
    height: 285px;
    z-index: 100;
    margin: 15px 30px 15px 30px;
}
#newsI {
    text-align: left;
    width: 80%;
    height: 80%;
    z-index: 200;
    margin: 30px 10px 0px 0px;
}
/* �W���t�H���g */
p{
    font-size: 12px;
    margin: 0px auto 0px;
    padding: 5px;
}
/* �����p�t�H���g */
p1{
    font-size: 50px;
    padding: 0px 0px 0px;
    font-weight: bold;
}
p2{
    font-size: 15px;
    padding: 0px 0px 0px;
}
p3{
    font-size: 18px;
    padding: 0px 0px 0px;
    font-weight: bold;
}
/* �j���[�X���e�p���C�A�E�g */
.news_Container {
    text-align: center;
    display: block;
    margin: 10px 80px 0px 80px;
    padding: 20px 0px 10px 0px;
}
.news_Container .n_text {
    text-align: left;
    display: inline-block;
    margin: 10px 80px 10px 80px;
}

.drawer-menu-item-link {
    display: block;
    text-align: left;
    font-size: 15px;
    color: #693407;
    margin-top: 15px;
    margin-left: 35px;
    text-decoration: none;
}

/* �R�s�[���C�g�p�t�H���g */
.copy {
    text-align: center;
    font-size: 10px;
    color: #ffffff;
}
